		</main>
		<footer>
			<div id="form" class="form-popup">
				<div class="h2 content__title content__title--no-after">обратный звонок</div>
				<div class="form-popup__wrap">
					<div class="content__left">
						<div class="form">
							<div class="form__title">проконсультируем быстро и бесплатно</div>
							<div class="form__subtext">Просто оставьте заявку</div>
							<form>
								<div class="form__input-wrap form--name">
									<input type="text" class="form__input" placeholder="ваше имя">
								</div>
								<div class="form__input-wrap form--tel">
									<input type="tel" class="form__input" placeholder="телефон">
								</div>
								<button class="btn btn--check" type="submit"><span>оставить заявку</span></button>
							</form>
						</div>
					</div>
					<div class="content__right">
						<img src="/images/form-phone.png">
					</div>
				</div>
				<div class="form-popup__img"><img src="/images/header-logo.png"></div>
			</div>
			<div class="content footer">
				<div class="footer__contacts">
					<a href="/" class="footer__logo"></a>
					<p>ООО «МосТрансДизель». Поставка дизельного топлива по Москве и Московской области. ИНН 21224352345 ОГРН 23232342366. Юр. адрес: г. Моксва, ул. Красноказарменная, дом 2, стр. 6</p>
					<p class="footer__copyright">Copyright © 2009-2017</p>
				</div>
				<div class="footer__sitemap">
					<a href="/">Главная страница</a>
					<a href="/about/">О компании</a>
					<a href="/quality/">Качество дизеля</a>
					<a href="/prices/">Доставка и цены</a>
					<a href="/#faq">Частые вопросы</a>
					<a href="/contacts/">Контакты</a>
				</div>
				<div class="footer__info">
					<div class="footer__time-wrap">
						<div class="footer__time">
							<a href="tel:+74956646842" class="header__phone">+7 (495) 664-68-42</a>
							<div class="preheader__title">Круглосуточно, без выходных</div>
						</div>
						<button class="btn btn--call popup"><span>Задать вопрос</span></button>
					</div>
					<a class="footer__mail" href="mailto:info@mostransdiesel.ru">info@mostransdiesel.ru</a>
					<p>Все права защищены © Любое копирование информации с сайта запрещено и не допускается без согласия владельца.</p>
					<a class="footer__policy" href="">Политика конфиденциальности</a>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&name=pro100api&key=AIzaSyBYGhS9p49bpQh4P2XW__cA3Jrjr4DRiRU"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>