<div class="form-block mt-60-lg mt-30-xs" style="background-image: url(/styles/images/2.png)">
	<div class="content">
		<div class="row">
			<div class="col-xl-1 col-xs-12"></div>
			<div class="col-xl-11 col-xs-12">
				<div class="form">
					<form>
						<div class="form__title">Обратитесь к врачу за консультацией</div>
						<div class="form__subtext">После тщательного осмотра доктор составит план лечения и окажет первую помощь</div>
						<input class="mb-10 form__input" type="text" placeholder="Как вас зовут?*">
						<input class="mb-20 form__input" type="tel" placeholder="Ваш номер телефона*">
						<input class="btn" type="submit" value="Записаться">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>