<div class="section--form">
	<div class="content">
		<div class="content__left">
			<div class="form">
				<div class="form__title">проконсультируем быстро и бесплатно</div>
				<div class="form__subtext">Просто оставьте заявку</div>
				<form>
					<div class="form__input-wrap form--name">
						<input type="text" class="form__input" placeholder="ваше имя">
					</div>
					<div class="form__input-wrap form--tel">
						<input type="tel" class="form__input" placeholder="телефон">
					</div>
					<button class="btn btn--check" type="submit"><span>оставить заявку</span></button>
				</form>
			</div>
		</div>
		<div class="content__right">
			<img src="/images/form-man.png">
		</div>
	</div>
</div>