<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>Мострансдизель</title>
	    <meta name="description" content="">
	    <meta name="keywords" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <link rel="stylesheet" href="/css/main.css">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	</head>
	<body>
		<header>
			<div class="preheader">
				<div class="preheader__prices">
					<div class="preheader__title">Наши цены на дизельное топливо:</div>
					<div class="preheader__fuel">
						<span class="preheader__fuel-item">ЕВРО сорт F, вид III (-20С) ГОСТ 32511-2013 <span class="text-green">32.30 ₽/л</span></span>
						<ul class="preheader__fuel-other">
							<li class="preheader__fuel-item">ЕВРО сорт F, вид III (-20С) ГОСТ 32511-2013 <span class="text-green">35.30 ₽/л</span></li>
							<li class="preheader__fuel-item">ЕВРО сорт F, вид III (-20С) ГОСТ 32511-2013 <span class="text-green">39.30 ₽/л</span></li>
						</ul>
					</div>
				</div>
				<div class="preheader__oil">
					<div class="preheader__title">Цены на нефть:</div>
					<div class="preheader__oil-item">
						<div class="preheader__oil-brand">Brent <span class="preheader__oil-cost preheader__oil--down">62.98</span></div>
					</div>
					<div class="preheader__oil-item">
						<div class="preheader__oil-brand">Light <span class="preheader__oil-cost preheader__oil--up">57.25</span></div>
					</div>
				</div>
			</div>
		</header>
		<div class="header">
			<div class="header__left">
				<div class="burger">
					<span class="burger__item"></span>
					<span class="burger__item"></span>
					<span class="burger__item"></span>
				</div>
				<a href="/" class="header__logo"></a>
				<div class="header__logo-description">Оптовые поставки дизельного топлива в Москве и Московской области с 2007</div>
			</div>
			<div class="header__right">
				<div class="header__time">
					<a href="tel:+74956646842" class="header__phone">+7 (495) 664-68-42</a>
					<div class="preheader__title">Круглосуточно, без выходных</div>
				</div>
				<button class="btn btn--call popup"><span>Перезвоните мне</span></button>
			</div>
		</div>
		<nav class="menu">
			<div class="menu__wrap">
				<div class="menu__mobile">
					<a href="/" class="menu__logo"></a>
					<div class="menu__close"></div>
				</div>
				<div class="menu__title">меню</div>
				<a class="menu__item" href="/">Главная страница</a>
				<a class="menu__item" href="/about/">О компании</a>
				<a class="menu__item" href="/quality/">Качество дизеля</a>
				<a class="menu__item" href="/prices/">Доставка и цены</a>
				<a class="menu__item" href="/#faq">Частые вопросы</a>
				<a class="menu__item" href="/contacts/">Контакты</a>
			</div>
			<div class="menu__phone">
				<a href="tel:+74956646842" class="header__phone">+7 (495) 664-68-42</a>
				<div class="preheader__title">Круглосуточно, без выходных</div>
			</div>
		</nav>
		<main>