<div class="content contacts">
	<div class="contacts__title mt-60-lg mt-30-xs mb-40-lg mb-20-xs">Академическая стоматология</div>
	<div class="contacts__item">
		<div class="contacts__name">Академическая<br>стоматология</div>
		<div class="contacts__city">г.Санкт-Петербург</div>
		<div class="contacts__address">Каменноостровский пр., д.27, лит А , пом.15-Н</div>
		<div class="contacts__add-wrap">
			<div class="contacts__add">
				<div class="contacts__head">Режим работы:</div>
				<div class="contacts__text"><span class="contacts__week">пн-пт</span> с 09-00 до 21-00,<br><span class="contacts__week">сб</span> с 09-00 до 18-00</div>
			</div>
			<div class="contacts__add">
				<div class="contacts__head">Телефон:</div>
				<a href="tel:+78123460731" class="contacts__text">+7 (812) 346-07-31</a>
			</div>
		</div>
	</div>
	<div class="contacts__item">
		<div class="contacts__name">Академическая<br>стоматология плюс</div>
		<div class="contacts__city">г.Санкт-Петербург</div>
		<div class="contacts__address">Каменноостровский пр., д.27, лит А , пом.18-Н</div>
		<div class="contacts__add-wrap">
			<div class="contacts__add">
				<div class="contacts__head">Режим работы:</div>
				<div class="contacts__text"><span class="contacts__week">пн-пт</span> с 09-00 до 21-00,<br><span class="contacts__week">сб</span> с 09-00 до 18-00</div>
			</div>
			<div class="contacts__add">
				<div class="contacts__head">Телефон:</div>
				<a href="tel:+78123460772" class="contacts__text">+7 (812) 346-07-72</a>
			</div>
		</div>
	</div>
</div>
<div class="mt-100-lg mt-50-xs" id="map"></div>