.preheader,
.header {
	padding: 0 50px;

	@media (max-width: $laptop_width) {
		padding: 0 30px;
	}

	@media (max-width: $mobile_width) {
		padding: 0 15px;
	}
}

.preheader {
	display: flex;
	justify-content: space-between;
	background-color: $color_eee;
	align-items: center;
	height: 45px;

	@media (max-width: $big-mobile_width) {
		justify-content: center;
	}

	&__prices {
		display: flex;
		align-items: baseline;
	}

	&__title {
		@include fontStyle($pt_font, 14px, 14px);
		color: $color_999;

		@media (max-width: $laptop_width) {
			display: none;
		}
	}

	&__fuel {
		margin-left: 20px;
		cursor: pointer;

		@media (max-width: $laptop_width) {
			margin-left: 0;
		}

		&-item {
			@include fontStyle($pt_font, 14px, 14px);
			color: $color_333;
			margin-bottom: 10px;
			position: relative;
			padding-right: 20px;

			@media (max-width: $mobile_width) {
				font-size: 10px;
			}

			&:after {
				@include before(calc(50% - 3px), auto, auto, 0);
				@include backgroundImage('/images/arrow-open.png', center, contain);
				width: 10px;
				height: 6px;
				transition: $transition;
			}

			&.active {
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		&-other {
			display: none;
		    position: absolute;
		    padding-top: 10px;
		    background-color: $color_eee;
		    padding-left: 10px;
		    padding-right: 10px;
		    margin-left: -10px;
		    margin-right: -10px;
		    z-index: 11;

		    .preheader__fuel-item {
		    	&:after {
		    		display: none;
		    	}
		    }
		}
	}

	&__oil {
		display: flex;
		align-items: baseline;

		@media (max-width: $tablet_width) {
			display: none;
		}

		&-item {
			padding: 0 20px;
		}

		&-brand {
			@include fontStyle($pt_font, 14px, 14px);
			color: $color_333;
		}

		&--down {
			position: relative;
			color: $color_cc0018;

			&:after {
				content: '\2193';
				position: absolute;
				top: calc(50% - 7.5px);
				right: -20px;
				width: 10px;
				height: 15px;
			}
		}

		&--up {
			position: relative;
			color: $color_339933;

			&:after {
				content: '\2191';
				position: absolute;
				top: calc(50% - 7.5px);
				right: -20px;
				width: 10px;
				height: 15px;
			}
		}
	}
}

.header {
	display: flex;
	flex-wrap: wrap;
	height: 115px;
	border-bottom: 3px solid $color_cc0018;
	position: sticky;
	top: 0;
	background-color: $color_fff;
	z-index: 10;

	&__left,
	&__right {
		width: 50%;
		flex: 0 0 50%;
		display: flex;
		align-items: center;

		@media (max-width: $big-mobile_width) {
			width: 100%;
			flex: 0 0 100%;
		}
	}

	&__left {
		padding-right: 20px;

		@media (max-width: $big-mobile_width) {
			padding: 0;
		}
	}

	&__right {
		padding-left: 20px;
		justify-content: flex-end;

		@media (max-width: $big-mobile_width) {
			padding: 0;
			justify-content: center;
		}

		.preheader__title {
			@media (max-width: $laptop_width) {
				display: block;
			}
		}

		.btn {
			@media (max-width: $tablet_width) {
				display: none;
			}
		}
	}

	.burger {
		margin-right: 40px;
		cursor: pointer;

		@media (max-width: $big-mobile_width) {
			margin-right: 0;
		}

		&__item {
			display: block;
			width: 30px;
			height: 5px;
			background-color: $color_000;
			margin-bottom: 3px;
			opacity: 1;
			transition: $transition;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.opened {
			.burger__item {
				&:first-child {
				    transform: rotate(45deg) translate(7px, 7px);
				    background-color: $color_7f7f7f;
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:last-child {
				    transform: rotate(-45deg) translate(4px, -4px);
				    background-color: $color_7f7f7f;
				}
			}
		}
	}

	&__logo {
		width: 340px;
		flex: 0 0 340px;
		height: 42px;
		@include backgroundImage('/images/header-logo.png', center, contain);
		margin-right: 30px;

		@media (max-width: $big-mobile_width) {
			@include marginAuto;
		}

		@media (max-width: $mobile_width) {
			width: 220px;
			flex: 0 0 220px;
			margin-right: 0;
		}

		&-description {
			width: 245px;
			flex: 0 0 245px;
			@include fontStyle($pt_font, 14px, 14px);
			color: $color_050100;

			@media (max-width: $laptop_width) {
				display: none;
			}
		}
	}

	&__phone {
		@include fontStyle($pt_font, 22px, 22px, 700);
		color: $color_339933;

		@media (max-width: $laptop_width) {
			font-size: 18px;
		}

		@media (max-width: $tablet_width) {
			font-size: 22px;
		}
	}

	.btn {
		margin-left: 35px;
	}
}

.text-green {
	color: $color_339933;
}

.text-red {
	color: $color_cc0018;
}

.text-dark {
	color: $color_333;
}

.footer {
	justify-content: space-between;
	padding: 55px 0 110px;

	@media (max-width: $big-mobile_width) {
		flex-direction: column;
		align-items: center;
	}

	p {
		@include fontStyle($pt_font, 14px, 14px);
		color: $color_999;
		padding-left: 40px;

		@media (max-width: $big-mobile_width) {
			padding-left: 0;
			text-align: center;
		}
	}

	&__contacts {
		width: 320px;
		flex: 0 0 320px;

		@media (max-width: $big-mobile_width) {
			flex: auto;
			margin-bottom: 40px;
		}

		@media (max-width: $mobile_width) {
			width: 100%;
		}
	}

	&__logo {
		display: block;
		width: 240px;
		height: 29px;
		@include backgroundImage("/images/footer-logo.png", center, contain, no-repeat);
		margin-bottom: 20px;

		@media (max-width: $big-mobile_width) {
			@include marginAuto;;
		}
	}

	&__copyright {
		margin-top: 20px;

		@media (max-width: $big-mobile_width) {
			display: none;
		}
	}

	&__sitemap {
		width: 150px;
		flex: 0 0 150px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: $laptop_width) {
			display: none;
		}

		a {
			@include fontStyle($pt_font, 14px, 14px);
			color: $color_339933;
			text-decoration: underline;
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__time-wrap {
		display: flex;

		@media (max-width: $tablet_width) {
			flex-direction: column;
			margin-bottom: 30px;

			.btn {
				max-width: 250px;
			}
		}

		@media (max-width: $big-mobile_width) {
			align-items: center;
		}

		.header__phone {
			color: $color_050100;
		}
	}

	&__time {
		margin-right: 50px;

		@media (max-width: $tablet_width) {
			margin-right: 0;
			margin-bottom: 30px;
		}

		.preheader__title {
			@media (max-width: $laptop_width) {
				display: block;
			}
		}
	}

	&__info {
		width: 485px;
		flex: 0 0 485px;

		@media (max-width: $tablet_width) {
			width: 365px;
			flex: 0 0 365px;
		}

		@media (max-width: $big-mobile_width) {
			flex: auto;
			text-align: center;
		}

		@media (max-width: $mobile_width) {
			width: 100%;
		}

		p {
			padding-left: 0;
		}
	}

	&__mail {
		margin-top: 20px;
		display: inline-block;
		position: relative;
		padding-left: 35px;
		@include fontStyle($pt_font, 14px, 14px);
		color: $color_339933;
		text-decoration: underline;
		margin-bottom: 40px;

		@media (max-width: $mobile_width) {
			margin-top: 40px;
		}

		&:before {
			@include before(3px, 0);
			@include backgroundImage("/images/letter-icon.png", center, contain);
			width: 18px;
			height: 15px;
		}
	}

	&__policy {
		@include fontStyle($pt_font, 14px, 14px);
		color: $color_999;
		text-decoration: underline;
	}
}

body {
	position: relative;
	left: 0;
	transition: $transition;

	&.opened {
		@media (min-width: $tablet_width + 1px) {
			left: 280px;
			overflow: hidden;
		} 

		@media (max-width: $tablet_width) {
			height: 100vh;
			overflow: hidden;
		}
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background-color: $color_fff;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 45px;
	padding-right: 35px;
	transition: $transition;
	z-index: -1;

	@media (max-width: $tablet_width) {
		width: 100%;
		padding: 0;
		align-items: center;
		padding-bottom: 60px;
		top: 45px;
		height: calc(100vh - 45px);
	}

	&--opened {
		opacity: 1;
		z-index: 1;
		width: 280px;

		@media (max-width: $tablet_width) {
			width: 100%;
			z-index: 15;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		@media (max-width: $tablet_width) {
			align-items: center;
		}
	}

	&__mobile {
		display: none;
		position: relative;
		margin-bottom: 60px;

		@media (max-width: $tablet_width) {
			display: flex;
			align-items: center;
			height: 115px;
			width: 100%;
			border-bottom: 3px solid $color_cc0018;
		}
	}

	&__logo {
		display: block;
		width: 340px;
		height: 42px;
		@include backgroundImage('/images/header-logo.png', center, contain);
		@include marginAuto;

		@media (max-width: $mobile_width) {
			width: 180px;
			flex: 0 0 180px;
		}
	}

	.preheader__title {
		@media (max-width: $laptop_width) {
			display: block;
		}
	}

	&__title {
		@include fontStyle($pt_font, 44px, 44px, 700);
		color: $color_000a01;
		text-transform: uppercase;
		margin-bottom: 40px;

		@media (max-width: $tablet_width) {
			display: none;
		}
	}

	&__close {
		display: none;

		@media (max-width: $tablet_width) {
			display: block;
			@include backgroundImage('/images/close-icon.png', center, contain);
			width: 28px;
			height: 28px;
			position: absolute;
			right: 30px;
			top: calc(50% - 14px);
		}

		@media (max-width: $mobile_width) {
			top: calc(50% - 10px);
			width: 20px;
			height: 20px;
			right: 20px;
		}
	}

	&__item {
		@include fontStyle($pt_font, 18px, 18px);
		color: $color_319b2f;
		text-decoration: underline;
		transition: $transition;
		margin-bottom: 20px;

		@media (max-width: $tablet_width) {
			@include fontStyle($pt_font, 30px, 30px, 700);
			text-transform: uppercase;
			text-decoration: none;
			color: $color_050100;
			margin-left: 30px;
			margin-right: 30px;
		}

		@media (max-width: $mobile_width) {
			font-size: 20px;
		}

		&:hover {
			color: $color_000a01;
		}
	}
}