$smallpc_width: 1399px;
$laptop_width: 1199px;
$tablet_width: 1024px;
$big-mobile_width: 767px;
$s-mobile_width: 600px;
$mobile_width: 480px;
$iphone-small_width: 320px;

$pt_font: PT;

$transition: all .5s;

$color_eee: #eeeeee;
$color_999: #999999;
$color_333: #333333;
$color_339933: #339933;
$color_cc0018: #cc0018;
$color_000: #000;
$color_050100: #050100;
$color_e7e7e7: #e7e7e7;
$color_666: #666666;
$color_fff: #fff;